<section>
	<form method="POST" action="https://api.staticman.net/v2/entry/stairwaytoeve/stairwaytoeve.github.io/master/">
		<input type="hidden" name="options[redirect]" value="http://google.com">
		<input name="fields[name]" type="text" placeholder="Your name">
		<input name="fields[email]" type="email" placeholder="Your email address">
		<textarea name="fields[message]" placeholder="Your message. Feel free to use Markdown." rows="10"></textarea>
		<input type="submit" value="Submit">
	</form>
</section>